<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  <form action="/<%= user.id %>/update" method="POST" style="display: flex; flex-direction: column; width: 200px">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" value="<%= user.firstName %>" required>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" value="<%= user.lastName %>" required>
    <label for="email">Email: </label>
    <input type="text" name="email" value="<%= user.email %>" required>
    <label for="age">Age: </label>
    <input type="text" name="age" value="<%= user.age %>">
    <label for="bio">Bio: </label>
    <textarea name="bio"><%= user.bio %></textarea>
    <button type="submit">Update User</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>

